body{  
    background-color: #c99d3f;
}

p{
    font-size: large;
    text-align: center;
    font-weight: bold;
    color: brown;
}
img{
    max-width: 25%;
    max-height: 25%;

}
ol li{
    font-size: 30px;
    color: purple;
}
ul li{
    color: green;
    font-weight: bold;
    background-color: yellow;
    text-align: center;
}

h1{
    color: #dff6ff
}
h2{
    color: #dff6ff;
}

.enviar
{
    border-radius: 5px;
    background-color: #E9FFEC;
    color: #812525;

}