button{
    width: 300px;
    height: auto;
    font-family: Roboto,sans-serif;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    font-size: var(--sm);
    background-color: #FF872C;
}
button:hover{
    background-color: #DCDCE5;
    color: #FF872C;
    width: 150px;
}