.facts {
    display: flex;
    padding: 20px 2px;
    justify-content: center;
    align-items: center;
    gap: 90px;
    font-weight: bold; 
    color:rgb(22, 22, 22);
}

.factItem {
    display: flex;
    width: 148px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.factItem h2 {
    color: var(--secondary-clear);
    font-size: var(--md);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    font-weight: bold;  
}

.factItem p {
    color: var(--secondary-clear);
    font-size: var(--sm);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    margin-top: 0.8cm;
    font-weight: bold;  
}