body{  
    background-color: #787c83;
}

p{
    font-size: large;
    text-align: center;
    font-weight: bold;
    color: brown;
}
img{
    max-width: 25%;
    max-height: 25%;

}
ol li{
    font-size: 30px;
    color: rgb(114, 14, 114);
}
ul li{
    color: green;
    font-weight: bold;
    background-color: yellow;
    text-align: center;
}

h1{
    color: #9e429c;
}
h2{
    color: #9e429c;
}

.enviar
{
    border-radius: 5px;
    background-color: #3cda2e;
    color: #131111;

}
.fondo
{
    background-color: rgb(233, 6, 120);
}